<div class="content">
  <form class="example-form">
  <mat-form-field appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput type="text" name="name" [(ngModel)]="name" [required]="true" >
    <mat-error *ngIf="!isNameValid">Por favor, ingresa tu nombre</mat-error>
    <button  matSuffix mat-icon-button aria-label="Clear" (click)="name=''">
      <mat-icon>close</mat-icon>
    </button>
      </mat-form-field>
      
      <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input matInput name="email" placeholder="pat@example.com" [formControl]="email" [required]="true">
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        
       
        
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <textarea matInput name="address" [(ngModel)]="address" [required]="true"></textarea>
        <mat-error *ngIf="!isAddressValid">Por favor, ingresa tu dirección</mat-error>
        <button  matSuffix mat-icon-button aria-label="Clear" (click)="address=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
     
    </form>
              
      <button mat-raised-button color="primary" (click)="onSubmit()" class="form-bottom">Enviar</button>
  <button mat-raised-button color="warn" (click)="onCancel()" class="form-bottom">Cancelar</button>
</div>

